<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table style="width: 600px; margin: 0 auto; text-align:left;">
    <tr style="border-bottom: 1px dotted black;">
      <th style="width:200px;">Name</th>
      <th style="width:200px;">Skill</th>
      <th style="width:20px;">Years</th>
      <th style="width:20px;">Formal?</th>
    </tr>
    <% @users.each do |user| %>
      <% user.skills.each do |skill| %> 
        <tr>
          <td><%= user.name %></td>
          <td><%= skill.name %> (<%= skill.context %>)</td>
        </tr>
      <% end %>
    <% end %>
  </table>



</div>
